#content-area {
  margin-left: 25%;
  padding: 50px;
  .heading {
    .main-heading {
      color: $purple;
      font-weight: 600;
      font-size: 2rem;
      margin: 20px 0;
    }
    .sub-heading {
      color: $grey;
      font-size: 1.2;
      margin-bottom: 20px;
    }
  }
}
.card {
  width: 33%;
  background: white;
  display: inline-block;
  text-align: center;
  padding: 25px;
  border-radius: 4px;
}
.card-one {
  .user-img img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .user-name {
    color: $purple;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .user-title {
    color: grey;
    font-size: 15px;
    font-weight: 500;
  }
  hr {
    margin: 20px 0;
  }
  .ed-section {
    display: inline-block;
    float: left;
    height: 100%;
    color: $grey;
    font-weight: 600;
  }
  .sch-section {
    display: inline-block;
    float: right;
    span {
      display: block;
      text-align: left;
      font-weight: 700;
      color: #444;
      margin-bottom: 15px;
    }
  }
}
.card-two {
  text-align: left;
  .card-title {
    color: $grey;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    h6 {
      float: left;
    }
    .menu-icon {
      position: relative;
      display: inline-block;
      float: right;
      color: $grey;
    }
  }
  .date {
    position: relative;
    left: -25px;
    font-weight: 500;
    font-size: 25px;
    color: $grey;
    border-left: solid 4px $neonGreen;
    padding-left: 21px;
    margin-bottom: 20px;
    width: 100%;
  }
  .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
  .icon-col {
    display: inline-block;
    float: left;
    width: 25%;
    .icon {
      background: orange;
      padding: 5px 6px;
      font-weight: 600;
      color: white;
      border-radius: 50%;
    }
  }
  .company-col {
    display: inline-block;
    float: right;
    width: 75%;
  }
}
