table {
  width: 100%;
  border-collapse:separate;
                border-spacing:0 3px;
  thead {
    tr {
      th {
        background: $tableHeaderBG;
        padding: 20px;
        color: $grey;
        text-align: left;
        font-weight: 500;
      }
    }
  }
  tbody {
    tr {
      td {
        background: white;
        padding: 20px;
        color: grey;
        .company-letters {
          background: #4a90e2;
          padding: 5px;
          font-size: 18px;
          border-radius: 50%;
          text-align: center;
          vertical-align: middle;
          color: white;
          margin-right: 10px;
        }
      }
    }
  }
}
