//Background Colors
$purpleDark: #29253B;
$purpleLight: #302C44;
$purple: #6641B1;
$neonGreen: #8DC849;
$offWhite: #F4F6FA;
$purpleGrey: #7D798F;
$grey: grey;
$lightGrey: #f4f6f9;
$tableHeaderBG: #eaedf3;
// Font Colors


//Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: "only screen an (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
