@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "content-area";


* {
  padding: 0;
  margin: 0;
box-sizing: border-box;
 }
body {
  font-family: 'Roboto', sans-serif;
  background: $lightGrey;
}

.side-menu-container {
  /*display: inline-block;*/
  position: absolute;
  top: 0;
  bottom: 0;
  background: $purpleLight;
  max-width: 20%;
  width: 20%;
  .side-menu-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
}
.nav {
  font-family: 'Roboto', sans-serif;
  color: $purpleGrey;
  padding-bottom: 50px;
  a {
    text-decoration: none;
    color: $purpleGrey;
    display: block;
    padding: 15px 30px 15px 10px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $purpleDark;
      border-left: 3px solid $neonGreen;
      color: white;
      padding: 15px 30px 15px 10px;
    }
    &.active {
      background: $purpleDark;
      border-left: 3px solid $neonGreen;
      color: white;
      padding: 15px 30px 15px 10px;
    }
    .side-menu-icon {
      color: $neonGreen;
      margin: 0 15px;
    }
  }
}

/* ========== END SIDE MENU STYLING ================*/

/* ========== START HEADER STYLING ================*/
.header-container {
  background: white;
  margin-left: 20%;
  display: inline-block;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  width: 80%;
  .serach-area {
    display: inline-block;
    width: 50%;
    .fa-search {
      color: #bababa;
      font-size: 25px;
      margin-right: 10px;
    }
    input[type="text"] {
      border: none;
      background: transparent;
      font-size: 1.2rem;
      font-weight: 300;
      color: $neonGreen;
      padding: 15px;
      width: 60%;
      transition: all .5s ease-in-out;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #d9d9d9;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #d9d9d9;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #d9d9d9;
      }
      &:hover{
        background: #f0f0f0;
        width: 60%;
        border-radius: 4px;
      }
    }
  }
  .user-section {
    display: inline-block;
    position: relative;
    float: right;
    padding: 10px;
    a {
      display: inline-block;
      text-decoration: none;
      color: $grey;
      margin-right: 20px;

      &.notification {
        position: relative;

        .notification-num {
          position: absolute;
          top: -5px;
          right: -8px;
          background: $purple;
          color: white;
          font-weight: bold;
          padding: 3px 5px;
          border-radius: 50%;
          font-size: 10px;
        }
      }
    }
    .user-image {
      img {
        border-radius: 50%;
        width: 22px;
      }
    }
  }
}

input:focus, select:focus{
    outline: none;
}
/* ========== END HEADER STYLING ================*/
